header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #8b6f8f; 
    font-size: 25px;
    background-color: #1b1e44;
    text-align: center;
    
   }

   body {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #8b6f8f; 
    font-size: 25px;
    text-align: center;
    background-color: #1b1e44;
    
   }

   h1 {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #8b6f8f; 
    font-size: 30px;
    text-align: center;
    
   }
   video {
    /* add your style definitions here */
        border: solid #3325ca;
       /* padding: 3px;*/
        border-radius: 20px;
        margin-top: auto;
        margin-bottom: auto;
        
    /* transitions applied to the video element */
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

audio {
    /* add your style definitions here */
        border: solid #ca2525;
        /*padding: 3px;*/
        border-radius: 20px;
        margin-top: auto;
        margin-bottom: auto;
    /* transitions applied to the audio element */
}


   #content {
    padding:3px;
    }

    #p {
        padding:3px;
    }

    #h1 {
        padding:3px;
    }

    #header {
        padding:3px;
    }

    #WPI{
        /*center the image*/
        display: block; 
        width: 100%;
        /*margin-left: auto;
        margin-right: auto;*/
    }

    
    #main_nav ul {
        list-style: none;
        padding: 0;
        margin: 10px;
        font-weight: bold;
    }
     
    #main_nav ul li {
        background-color: #073763;
        border: 1px solid #999;
        color: #8b6f8f;
        display: block;
        margin-bottom: -1px;
        padding: 12px 10px;
    }
     
    #main_nav ul li a{
        text-decoration: none;
        color: #8b6f8f;
      }
      
    /* add traditional rounded corners to the navigation menu*/
    
    #main_nav li:first-child{
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
    }
     
    #main_nav li:last-child{
        -webkit-border-bottom-left-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
    }

    nav li:active {
        background-color: #ccc;
        background-image: none;
        box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
      }
      footer {
        font-family: Futura, Trebuchet MS;
        font-weight: condensed;
        color: #020202; 
        font-size: 12px;
        position: fixed;
        left: 0;
        bottom: 0;
       }
       button.back {
        /*These lines override the previous styling of buttons*/
        -webkit-border-image: url("greyButton.png") 0 14 0 14 stretch;
        width:60px;
        height: 30px;
         
        /*These lines position the back button inside the header*/
        position:absolute;
        left:16px;
        top:8px;
        }
        